<Ui xmlns="http://www.blizzard.com/wow/ui/"
>
    <Frame name="ClockworkMenuFrame"
           parent="WorldFrame"
           movable="true"
           hidden="false"
           inherits="BackdropTemplate">

<!--        <KeyValues>-->
<!--            <KeyValue key="backdropInfo" value="BACKDROP_TUTORIAL_16_16" type="global"/>-->
<!--        </KeyValues>-->

        <Scripts>
            <OnLoad>
                self:RegisterForDrag("LeftButton")

                ClockworkMenuFrame.Expand = function()
                    ClockworkMenuFrame:SetWidth(137)
                    ClockworkMenuFrame:SetHeight(204)

                    ClockworkMenuButtonToggle:Show()
                    ClockworkMenuButtonTNE:Show()
                    ClockworkMenuButtonAddWP:Show()
                    ClockworkMenuButtonClearWP:Show()
                    ClockworkMenuButtonDrive:Show()
                    ClockworkMenuButtonLoop:Show()
                    ClockworkMenuButtonDebug:Show()
                    ClockworkMenuButtonAggro:Show()
                end

                ClockworkMenuFrame.Collapse = function()
                    ClockworkMenuFrame:SetWidth(137)
                    ClockworkMenuFrame:SetHeight(20)

                    ClockworkMenuButtonToggle:Hide()
                    ClockworkMenuButtonTNE:Hide()
                    ClockworkMenuButtonAddWP:Hide()
                    ClockworkMenuButtonClearWP:Hide()
                    ClockworkMenuButtonDrive:Hide()
                    ClockworkMenuButtonLoop:Hide()
                    ClockworkMenuButtonDebug:Hide()
                    ClockworkMenuButtonAggro:Hide()
                end

                self.clearTimer = function () 
                    if Clockwork.menuFrameTimer and type(Clockwork.menuFrameTimer) == "userdata" then
                        Clockwork.log.debug("ClockworkMenuFrame : Clear timer")
                        Clockwork.menuFrameTimer:Cancel()
                    end
                end

                self.startTimer = function () 
                    Clockwork.log.debug("ClockworkMenuFrame : Leave (Set timer)")
                    Clockwork.menuFrameTimer = C_Timer.NewTimer(1, function()
                        Clockwork.log.debug("ClockworkMenuFrame : Hiding menu")
                        ClockworkMenuFrame:Collapse()
                    end)
                end

                self:OnBackdropLoaded()
                self:OnBackdropSizeChanged()
                ClockworkMenuFrame:Collapse()
            </OnLoad>
            <OnEnter>
                Clockwork.log.debug("ClockworkMenuFrame : Enter")
                ClockworkMenuFrame:Expand()
                ClockworkMenuFrame:clearTimer()
            </OnEnter>
            <OnLeave>
                ClockworkMenuFrame.startTimer()
            </OnLeave>
            <OnDragStart>
                self:StartMoving()
            </OnDragStart>
            <OnDragStop>
                self:StopMovingOrSizing()
            </OnDragStop>
        </Scripts>
        <Size x="137"
              y="204"/>
        <Anchors>
            <Anchor point="CENTER"/>
        </Anchors>
        <Frames>

            <Frame name="$parent_TitleBar">

                <Anchors>
                    <Anchor point="TOPLEFT">
                        <Offset>
                            <AbsDimension x="3"
                                          y="-8"/>
                        </Offset>
                    </Anchor>
                    <Anchor point="BOTTOMRIGHT"
                            relativePoint="TOPRIGHT">
                        <Offset>
                            <AbsDimension x="-3"
                                          y="-13"/>
                        </Offset>
                    </Anchor>
                </Anchors>

                <Layers>
                    <Layer level="ARTWORK">
                        <FontString name="$parent_Title"
                                    inherits="GameFontNormalSmall"
                                    text="Clockwork"
                                    justifyH="CENTER">
                            <Color r="1"
                                   g="1"
                                   b="1"/>
                            <Anchors>
                                <Anchor point="TOPLEFT"/>
                                <Anchor point="BOTTOMRIGHT"/>
                            </Anchors>
                        </FontString>
                    </Layer>
                </Layers>
            </Frame>

            <Frame name="$parent_Controls">
                <Scripts>
                    <OnUpdate>
                        local f = GetMouseFoci()[1]
                        if (f) then
                            local found = false
                            while (f:GetParent() and f:GetParent() ~= UIParent) do
                                if (f == ClockworkMenuFrame) then 
                                    found = true 
                                end
                                f = f:GetParent()
                            end

                            if (not found) then
                                ClockworkMenuFrame:Collapse()
                            end
                        end
                    </OnUpdate>
                </Scripts>
                <Anchors>
                    <Anchor point="TOPLEFT"
                            relativeTo="$parent_TitleBar"
                            relativePoint="BOTTOMLEFT"/>
                    <Anchor point="BOTTOMRIGHT">
                        <Offset>
                            <AbsDimension x="-3"
                                          y="3"/>
                        </Offset>
                    </Anchor>
                </Anchors>

                <Frames>

                    <Button name="ClockworkMenuButtonToggle"
                            inherits="UIPanelButtonTemplate"
                            text="Off - Toggle">
                        <Size x="120"
                              y="25"/>
                        <Anchors>
                            <Anchor point="TOPLEFT"
                                    relativePoint="TOPLEFT">
                                <Offset x="5"
                                        y="-5"/>
                            </Anchor>
                        </Anchors>
                        <Scripts>
                            <OnLoad>
                                self.tooltip = "Toggle Clockwork On/Off";
                            </OnLoad>
                            <OnEnter>
                                GameTooltip:SetOwner(self, "ANCHOR_LEFT");
                                GameTooltip:SetText(self.tooltip);
                                ClockworkMenuFrame:clearTimer()
                            </OnEnter>
                            <OnLeave>
                                GameTooltip:Hide();
                                ClockworkMenuFrame.startTimer()
                            </OnLeave>
                            <OnClick>
                                Clockwork.clickToggle(Clockwork)
                                if Clockwork.TOGGLE_ON_OFF == false
                                then
                                ClockworkMenuButtonToggle:SetText("Off - Toggle")
                                else
                                ClockworkMenuButtonToggle:SetText("On - Toggle")
                                end
                                Clockwork.log.debug(tostring(ClockworkMenuButtonToggle:GetPushedTexture()))
                                Clockwork.log.debug(tostring(ClockworkMenuButtonToggle:GetNormalTexture()))
                            </OnClick>
                        </Scripts>
                    </Button>

                    <Button name="ClockworkMenuButtonAggro"
                            inherits="UIPanelButtonTemplate"
                            text="On - Aggro">
                        <Size x="120"
                              y="25"/>
                        <Anchors>
                            <Anchor point="TOPLEFT"
                                    relativeTo="ClockworkMenuButtonToggle"
                                    relativePoint="BOTTOMLEFT">
                                <Offset x="0"
                                        y="0"/>
                            </Anchor>
                        </Anchors>
                        <Scripts>
                            <OnLoad>
                                self.tooltip = "Allow Aggro in combat On/Off";
                            </OnLoad>
                            <OnEnter>
                                GameTooltip:SetOwner(self, "ANCHOR_LEFT");
                                GameTooltip:SetText(self.tooltip);
                                ClockworkMenuFrame:clearTimer()
                            </OnEnter>
                            <OnLeave>
                                GameTooltip:Hide();
                                ClockworkMenuFrame.startTimer()
                            </OnLeave>
                            <OnClick>
                                if Clockwork.AGGRO_MOD == false
                                then
                                Clockwork.AGGRO_MOD = true
                                ClockworkMenuButtonAggro:SetText("On - Aggro")
                                Clockwork.log.notice("Aggro Mod : On")
                                else
                                Clockwork.AGGRO_MOD = false
                                ClockworkMenuButtonAggro:SetText("Off - Aggro")
                                Clockwork.log.notice("Aggro Mod : Off")
                                end
                            </OnClick>
                        </Scripts>
                    </Button>

                    <Button name="ClockworkMenuButtonTNE"
                            inherits="UIPanelButtonTemplate"
                            text="Off - TNE">
                        <Size x="120"
                              y="25"/>
                        <Anchors>
                            <Anchor point="TOPLEFT"
                                    relativeTo="ClockworkMenuButtonAggro"
                                    relativePoint="BOTTOMLEFT">
                                <Offset x="0"
                                        y="0"/>
                            </Anchor>
                        </Anchors>
                        <Scripts>
                            <OnLoad>
                                self.tooltip = "Auto Target Next Enemy On/Off";
                            </OnLoad>
                            <OnEnter>
                                GameTooltip:SetOwner(self, "ANCHOR_LEFT");
                                GameTooltip:SetText(self.tooltip);
                                ClockworkMenuFrame:clearTimer()
                            </OnEnter>
                            <OnLeave>
                                GameTooltip:Hide();
                                ClockworkMenuFrame.startTimer()
                            </OnLeave>
                            <OnClick>
                                Clockwork.clickTNE(Clockwork)
                                if Clockwork.TARGET_NEAREST_ENEMY == false
                                then
                                ClockworkMenuButtonTNE:SetText("Off - TNE")
                                else
                                ClockworkMenuButtonTNE:SetText("On - TNE")
                                end
                            </OnClick>
                        </Scripts>
                    </Button>

                    <Button name="ClockworkMenuButtonDrive"
                            inherits="UIPanelButtonTemplate"
                            text="Off - Drive">
                        <Size x="120"
                              y="25"/>
                        <Anchors>
                            <Anchor point="TOPLEFT"
                                    relativeTo="ClockworkMenuButtonTNE"
                                    relativePoint="BOTTOMLEFT">
                                <Offset x="0"
                                        y="0"/>
                            </Anchor>
                        </Anchors>
                        <Scripts>
                            <OnLoad>
                                self.tooltip = "Start/Stop GPS !!";
                            </OnLoad>
                            <OnEnter>
                                GameTooltip:SetOwner(self, "ANCHOR_LEFT");
                                GameTooltip:SetText(self.tooltip);
                                ClockworkMenuFrame:clearTimer()
                            </OnEnter>
                            <OnLeave>
                                GameTooltip:Hide();
                                ClockworkMenuFrame.startTimer()
                            </OnLeave>
                            <OnClick>
                                Clockwork.clickDrive(Clockwork)
                                if Clockwork.DRIVE_MOD == false
                                then
                                ClockworkMenuButtonDrive:SetText("Off - Drive")
                                else
                                ClockworkMenuButtonDrive:SetText("On - Drive")
                                end
                            </OnClick>
                        </Scripts>
                    </Button>

                    <Button name="ClockworkMenuButtonLoop"
                            inherits="UIPanelButtonTemplate"
                            text="Off - Loop WP">
                        <Size x="120"
                              y="25"/>
                        <Anchors>
                            <Anchor point="TOPLEFT"
                                    relativeTo="ClockworkMenuButtonDrive"
                                    relativePoint="BOTTOMLEFT">
                                <Offset x="0"
                                        y="0"/>
                            </Anchor>
                        </Anchors>
                        <Scripts>
                            <OnLoad>
                                self.tooltip = "Loop through waypoints";
                            </OnLoad>
                            <OnEnter>
                                GameTooltip:SetOwner(self, "ANCHOR_LEFT");
                                GameTooltip:SetText(self.tooltip);
                                ClockworkMenuFrame:clearTimer()
                            </OnEnter>
                            <OnLeave>
                                GameTooltip:Hide();
                                ClockworkMenuFrame.startTimer()
                            </OnLeave>
                            <OnClick>
                                Clockwork.clickLoop(Clockwork)
                                if Clockwork.DRIVE_LOOP == false
                                then
                                ClockworkMenuButtonLoop:SetText("Off - Loop WP")
                                else
                                ClockworkMenuButtonLoop:SetText("On - Loop WP")
                                end
                            </OnClick>
                        </Scripts>
                    </Button>

                    <Button name="ClockworkMenuButtonDebug"
                            inherits="UIPanelButtonTemplate"
                            text="Off - Debug">
                        <Size x="120"
                              y="25"/>
                        <Anchors>
                            <Anchor point="TOPLEFT"
                                    relativeTo="ClockworkMenuButtonLoop"
                                    relativePoint="BOTTOMLEFT">
                                <Offset x="0"
                                        y="0"/>
                            </Anchor>
                        </Anchors>
                        <Scripts>
                            <OnLoad>
                                self.tooltip = "Toggle debug mod On/Off";
                            </OnLoad>
                            <OnEnter>
                                GameTooltip:SetOwner(self, "ANCHOR_LEFT");
                                GameTooltip:SetText(self.tooltip);
                                ClockworkMenuFrame:clearTimer()
                            </OnEnter>
                            <OnLeave>
                                GameTooltip:Hide();
                                ClockworkMenuFrame.startTimer()
                            </OnLeave>
                            <OnClick>
                                Clockwork.clickDebug(Clockwork)
                                if Clockwork.DEBUG_MOD == false
                                then
                                ClockworkMenuButtonDebug:SetText("Off - Debug")
                                else
                                ClockworkMenuButtonDebug:SetText("On - Debug")
                                end
                            </OnClick>
                        </Scripts>
                    </Button>

                    <Button name="ClockworkMenuButtonAddWP"
                            inherits="UIPanelButtonTemplate"
                            text="Add Waypoint">
                        <Size x="120"
                              y="25"/>
                        <Anchors>
                            <Anchor point="TOPLEFT"
                                    relativeTo="ClockworkMenuButtonDebug"
                                    relativePoint="BOTTOMLEFT">
                                <Offset x="0"
                                        y="0"/>
                            </Anchor>
                        </Anchors>
                        <Scripts>
                            <OnLoad>
                                self.tooltip = "Add a waypoint at current position";
                            </OnLoad>
                            <OnEnter>
                                GameTooltip:SetOwner(self, "ANCHOR_LEFT");
                                GameTooltip:SetText(self.tooltip);
                                ClockworkMenuFrame:clearTimer()
                            </OnEnter>
                            <OnLeave>
                                GameTooltip:Hide();
                                ClockworkMenuFrame.startTimer()
                            </OnLeave>
                            <OnClick>
                                Clockwork.clickAddWp(Clockwork)
                            </OnClick>
                        </Scripts>
                    </Button>

                    <Button name="ClockworkMenuButtonClearWP"
                            inherits="UIPanelButtonTemplate"
                            text="Clear Waypoints">
                        <Size x="120"
                              y="25"/>
                        <Anchors>
                            <Anchor point="TOPLEFT"
                                    relativeTo="ClockworkMenuButtonAddWP"
                                    relativePoint="BOTTOMLEFT">
                                <Offset x="0"
                                        y="0"/>
                            </Anchor>
                        </Anchors>
                        <Scripts>
                            <OnLoad>
                                self.tooltip = "Clear every waypoints";
                            </OnLoad>
                            <OnEnter>
                                GameTooltip:SetOwner(self, "ANCHOR_LEFT");
                                GameTooltip:SetText(self.tooltip);
                                ClockworkMenuFrame:clearTimer()
                            </OnEnter>
                            <OnLeave>
                                GameTooltip:Hide();
                                ClockworkMenuFrame.startTimer()
                            </OnLeave>
                            <OnClick>
                                Clockwork.clickClearWp(Clockwork)
                            </OnClick>
                        </Scripts>
                    </Button>

                </Frames>
            </Frame>
        </Frames>
    </Frame>
</Ui>